.netrwhist
npm-debug.log
config/nvim/spell
config/nvim/shada
vim/vim.symlink/spell/
vim/vim.symlink/plugged/
Brewfile.lock.json
lazy-lock.json
config/kitty/kitty-overrides.conf
config/zed/*
!config/zed/settings.json
!config/zed/keymap.json
!config/zed/themes/

.idea/
